.About {
  padding: 20px;
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-content {
  display: flex;
  align-items: center;
}

.about-logo {
  height: 150px;
  margin-right: 20px;
}

.about-text {
  max-width: 600px;
  text-align: left;
}

.about-text h2 {
  color: var(--text-color);
}

.about-text p {
  color: var(--text-color);
}
