.App-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: var(--background-color);
}

.App-logo {
  height: 50px;
  width: auto;
}

.nav-menu {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-menu li a {
  text-decoration: none;
  color: var(--text-color);
  font-weight: bold;
}

.nav-menu li a:hover {
  color: var(--hover-color);
}
