:root {
  --background-color: #ffffff;
  --text-color: #000000;
  --hover-color: #0073e6;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #121212;
    --text-color: #ffffff;
    --hover-color: #1e90ff;
  }
}

.App {
  text-align: center;
}

main {
  padding: 20px;
}
